.scrollContainer {
    height: 400px;
    overflow-y: auto;

    /* For Firefox */
    scrollbar-width: none;

    /* For IE and Edge */
    -ms-overflow-style: none;
}

/* For Webkit browsers (Chrome, Safari, newer versions of Edge) */
.scrollContainer::-webkit-scrollbar {
    display: none;
}